<main class="container indexpage">
  <div class="columns is-multiline is-mobile">

  <!-- Could refactor these 3 filters with a loop if time -->
    <div class="column is-one-quarter-desktop is-one-third-tablet is-one-half-mobile">
      <form action="/restaurants" method="GET">
        <div class="content">
          <h3 class="subtitle is-size-3-desktop is-size-5-touch">Your selections</h3>
          <h2 class="is-2">Location</h2>
          <% locations.forEach(location => { %>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" name="location" value="<%= location %>"
                <%if (typeof selectedlocation !== 'undefined' && selectedlocation.includes(location)) {%> checked <%}%> onchange="this.form.submit()">
                <%= location %>
              </label>
            </div>
          <% }) %>
          <h2 class="is-2">Cuisine</h2>
          <% cuisines.forEach(cuisine => { %>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" name="cuisine" value="<%= cuisine %>"
                <%if (typeof selectedcuisine !== 'undefined' &&
                selectedcuisine.includes(cuisine)) {%> checked <%}%> onchange="this.form.submit()">
                <%= cuisine %>
              </label>
            </div>
          <% }) %>
          <h2 class="is-2">Price ranges</h2>
          <% priceRanges.forEach(priceRange => { %>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" name="priceRange" value="<%= priceRange %>"
                <%if (typeof selectedpriceRange !== 'undefined' &&
                selectedpriceRange.includes(priceRange)) {%> checked <%}%> onchange="this.form.submit()">
                <%= priceRange %>
              </label>
            </div>
          <% }) %>
        </div>
      </form>
    </div>

    <div class="column column is-three-quarters-desktop is-two-thirds-tablet is-one-half-mobile">
      <div class="columns is-multiline is-mobile">
        <% restaurants.forEach(restaurant => { %>
          <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
            <a href="/restaurants/<%= restaurant._id %>">
              <div class="card restaurantCard">
                <div class="card-image">
                  <figure class="image">
                    <div class="imgRestaurant" style="background: url(<%=restaurant.image%>)">
                    </div>
                  </figure>
                </div>
                <div class="card-content">
                  <span class="subtitle is-4"><%= restaurant.name %></span>
                  <br>
                  <div class="subtitle is-6"><%= restaurant.location %></div>
                  <span class="subtitle is-6"><%= restaurant.numberReviews %> Reviews</span>
                  <div class="averageRating">
                    <% if(restaurant.averageRating !== 0) { %>
                      <% if(restaurant.averageRating % 1 === 0.5) {%>
                      <%  halfCircleLocation = Math.floor(restaurant.averageRating) + 1} else {halfCircleLocation = 0} %>
                        <div class="icon is-medium circle reviewcircle rating-1 <% if(restaurant.averageRating >= 1) {%> dot-circle <%} if(halfCircleLocation === 1) {%> dot-half-circle <%}%>">
                        </div>
                        <div class="icon is-medium circle reviewcircle rating-2 <% if(restaurant.averageRating >= 2) {%> dot-circle <%} if(halfCircleLocation === 2) {%> dot-half-circle <%}%>">
                        </div>
                        <div class="icon is-medium circle reviewcircle rating-3 <% if(restaurant.averageRating >= 3) {%> dot-circle <%} if(halfCircleLocation === 3) {%> dot-half-circle <%}%>">
                        </div>
                        <div class="icon is-medium circle reviewcircle rating-4 <% if(restaurant.averageRating >= 4) {%> dot-circle <%} if(halfCircleLocation === 4) {%> dot-half-circle <%}%>">
                        </div>
                        <div class="icon is-medium circle reviewcircle rating-5 <% if(restaurant.averageRating >= 5) {%> dot-circle <%} if(halfCircleLocation === 5) {%> dot-half-circle <%}%>">
                        </div>
                    <% } %>
                  </div>
                  <span class="subtitle is-6"><%= restaurant.priceRange %>, <%= restaurant.cuisine %></span>

                </div>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</main>
