<main class="container">
  <div class="columns is-multiline">
    <div class="column is-half">
      <figure class="image">
        <img src="<%= restaurant.image %>" alt="<%= restaurant.name %>">
      </figure>
    </div>
    <div class="column is-half">
      <div class="content">
        <h1 class="is-1"><%= restaurant.name %></h1>
        <p class="subtitle is-6"><%= restaurant.location %></p>
        <p class="subtitle is-6">Reviews</p>
        <div class="content">
          <p class="subtitle is-6">Price range: <%= restaurant.priceRange %></p>
          <p class="subtitle is-6">Cuisine: <%= restaurant.cuisine %></p>
        </div>
        <p class="subtitle is-6"><%= restaurant.description %></p>
        <span class="icon is-small"><i class="fas fa-map-marker"></i></span>
        <span><%= restaurant.address %>&nbsp</span>
        <span class="icon is-small"><i class="fas fa-phone"></i></span>
        <span><%= restaurant.phone %>&nbsp</span>
        <span class="icon is-small"><i class="fas fa-desktop"></i></span>
        <span><%= restaurant.website %></span>
      </div>
      <% if (locals.isAuthenticated) { %>
      <div class="container showButtons">
        <a href="/restaurants/<%=restaurant._id%>/edit" class="button is-primary">Edit</a>
        <% if (restaurant.isOwnedBy(locals.currentUser)) {%>
        <form class="form" action="/restaurants/<%=restaurant._id%>" method="post">
          <button class="button is-danger">Delete</button>
          <input type="hidden" name="_method" value="DELETE">
        <% } %>
      </div>
      <% } %>
      </form>
    </div>

    <%# Review section %>
    <div class="column reviews">
      <article class="media">
        <figure class="media-left">
          <p class="image is-4by3">
            <img src="https://www.fillmurray.com/140/100">
          </p>
        </figure>
        <div class="media-content">
          <%# form for user to leave a review %>
          <form action="/restaurants/<%=restaurant._id%>/reviews" method="POST">
            <div class="field">
              <div class="control">
                <label class="label">Rating</label>
                <input name="rating" class="input" type="text" placeholder="Add a rating between 0 and 50..." required min="0" max="50">
              </div>
            </div>
            <div class="field">
                <input name="rating" type="hidden" value="">
                <div class="icon is-small rating"><i class="far fa-circle fa-2x rating-10 ratingcircle"></i><i class="far fa-circle fa-2x rating-20 ratingcircle"></i><i class="far fa-circle fa-2x rating-30 ratingcircle"></i><i class="far fa-circle fa-2x rating-40 ratingcircle"></i><i class="far fa-circle fa-2x rating-50 ratingcircle"></i></div>
            </div>
            <div class="field">
              <div class="control">
                <label class="label">Title</label>
                <input name="maintitle" class="input" type="text" placeholder="Add a title for your review..." required minlength="2">
              </div>
            </div>
            <div class="field">
              <p class="control">
                <label class="label">Describe your experience</label>
                <textarea name="content" class="textarea" placeholder="Add a review..." required minlength="2"></textarea>
              </p>
            </div>
              <button class="button is-info">Submit</button>
          </form>
        </div>
      </article>
    <br>
    <%# Show previous reviews %>
    <% restaurant.reviews.forEach(review => { %>
      <% if (review.moderated === true) { %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://www.fillmurray.com/140/100">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <% if(review.user) { %>
                  <strong><%= review.user.username %></strong>
                  <small><%= review.user.email %></small>
                  <small><%= review.formattedDate %></small>
                <% } %>
                <br>
                <strong><%= review.maintitle %></strong>
                <br>
                <%= review.content %>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
          <div class="media-right">
            <% if (review.isOwnedBy(locals.currentUser)) {%>
              <form action="/restaurants/<%=restaurant._id%>/reviews/<%=review._id%>" method="POST">
                <button class="delete"></button>
                <input type="hidden" name="_method" value="DELETE">
              </form>
            <% } %>
          </div>
        </article>
      <% } %>
    <% }) %>
    </div>
  </div>
</main>
